@charset "utf-8";

html{
  font-size: 62.5%;
}

header {
  background-color: #22d3ee;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  
}

body{
  margin:0;
  font-family: "M PLUS Rounded 1c", 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', Sans-serif;
}

.list-nav{
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5%;
  list-style: none;

}

.header-list{
  justify-content: flex-end;
  margin-right: 5%;
  
}


.list a{
  color:black;
  font-size: clamp(1.2rem, calc(1rem + 1.4vw), 2rem);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s 0s ease;
}

.list a:hover{
  filter: invert(1);
  border-bottom:1px solid #000;
  letter-spacing: 0.2em;
}

.top-background{
    min-height: 20vh;
    background-color: #22d3ee;
    
}

.top-container{
    
    width: 90%;
    min-height: 10%;
    margin:0 auto;
    background-color: white;
    text-align: center;
    position: relative;
    margin-bottom: 5%;
    
}

.top-logo{
    width:40%;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    top:-30%;
    
    
}

.column-3type{
  min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin:10% 0;
    
}


.content-3type{
    width: calc((100% - 40px) / 3);
    height: auto;
    background-color: #f2ebeb;
    display: flex;
    align-items: center;
    
}


  .content-3type img:hover {
    cursor: pointer;
  }
  .popup {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 0.3s, transform 0s 0.3s;
  }
  .popup__btn {
    display: block;
    z-index: 13;
    position: absolute;
    top: 1vh;
    right: 1vh;
    width: 5vh;
    height: 5vh;
    cursor: pointer;
  }
  .popup__btn::before,
  .popup__btn::after {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background-color: #fff;
    content: '';
  }
  .popup__btn::before {
    transform: rotate(45deg);
  }
  .popup__btn::after {
    transform: rotate(-45deg);
  }
  .popup__area {
    z-index: 12;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .popup__img {
    z-index: 11;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .popup__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .popup__text{
    z-index: 12;
    position: absolute;
    
    left: 5%;
    bottom:5%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup__text p{
    color:white;
    font-size:clamp(1.2rem, calc(1rem + 1.4vw), 2rem);
  }

  .to_card_cheers{
    color:white;
  font-weight: bold;
  
  }

  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked ~ .popup {
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.3s;
  }



.content-3type img{
    width: 100%;
    
}

.footer{
  background-color: #d1ba90;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;

}

.footer p{
  color:white;
  letter-spacing: 0.3em;
  font-size: clamp(1.2rem, calc(1rem + 1.4vw), 2rem);
}
